/* GENERAL */

:root {
  --nav-link-color: #34bbda;
  --text-color: #54575c;
  --wite-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  /* background-color: red; */
  /* background-image: url(../images/washing-repair.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 150%; */
  /* background-position: 50%; */
}

.hero-what {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    url(../images/washing-repair.jpg)
  );
  /* background-image: url(../images/washing-repair.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

/* HEADER */

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-text {
  margin: 0;

  color: var(--text-color);
  font-weight: 800;

  /* outline: 2px solid green; */
}

.logo-icon {
  width: 51px;
  height: 51px;
}

.logo-icon:hover {
  fill: var(--nav-link-color);
}

.nav-link {
  margin: 45px 10px;
}

.nav-a {
  padding: 45px 10px;
  font-weight: 800;
  color: var(--nav-link-color);
}

.nav-a:hover,
.nav-a:focus {
  background-color: var(--wite-color);
  color: var(--text-color);
}

.section {
  margin-right: auto;
  margin-left: auto;
  /* position: fixed; */
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;

  /* background-color: var(--wite-color); */

  /* outline: 2px solid red; */
}

.head {
  position: fixed;
  z-index: 2000;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: hsla(0, 0%, 100%, 0.85);
  /* background-color: var(--wite-color); */
  /* opacity: 0.5; */
}

ul.nav-box {
  display: flex;
  margin: 0 0 0 80px;
  padding: 0;
  opacity: 1;

  /* outline: 2px solid green; */
}

.contacts-box {
  display: flex;
  margin: 0;
  padding: 0;

  /* outline: 2px solid green; */
}

.contacts {
  margin-left: auto;
}

.contacts-list:last-child {
  margin-left: 20px;
}

.active {
  color: var(--text-color);
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 1230px;
  height: 350px;

  /* outline: 2px solid red; */
}

.button {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;

  border: 1px solid var(--text-color);
  opacity: 0.85;
  padding: 8px 4px;
  border-radius: 8px;
  cursor: pointer;

  color: var(--wite-color);

  background: var(--nav-link-color);
}

.button:hover,
.button:active {
  color: var(--text-color);
}

/* WHAT WE DO */

.what-we-do {
  width: 100%;
  bottom: 20%;
  margin-top: 0;
  border-bottom: 6px solid var(--nav-link-color);
  background: linear-gradient(
    45deg,
    rgba(0, 76, 106, 0.8),
    var(--nav-link-color) 75%
  );
}

.servise-box {
  display: flex;
  margin: 0;
  padding: 0;
}

.servise-link {
  display: inline-block;
  margin-right: 13px;
  border: 1px solid var(--wite-color);

  width: 120px;
  height: 120px;

  /* outline: 2px solid green; */
}

.icon-appliance {
  margin-left: 35px;

  fill: var(--wite-color);
  width: 50px;
  height: 70px;
}

.icon-appliance:hover {
  fill: var(--text-color);
}

.servise-link:last-child {
  margin-right: 0;
}

.servise-link:hover,
.servise-link:active {
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.servise-a {
  color: var(--wite-color);
  text-transform: uppercase;
}

.servise-img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 11px;
}

.servise-text {
  margin-top: 5px;
  margin-bottom: 0;

  font-size: 77%;
  font-weight: 400;
  text-align: center;
}

.servise-text:hover {
  color: var(--text-color);
}

.title-box {
  width: 1230px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  /* outline: 2px solid red; */
}

.title {
  font-size: 300%;
  font-weight: 800;
  color: var(--wite-color);
  /* text-align: center; */
}

.title-second {
  margin-top: 15px;
  margin-bottom: 10px;

  font-weight: 400;
  color: var(--wite-color);
  /* text-align: center; */
}

/* BRANDS */

.brands {
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.brand-title {
  margin-bottom: 30px;
  color: var(--text-color);
  /* text-transform: uppercase; */
}

.brand-box {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;

  /* outline: 1px solid violet; */
}

.brand-list {
  justify-content: space-between;

  /* outline: 1px solid green; */
}

.addition {
  margin-top: 25px;

  color: var(--text-color);
  font-weight: 800;
  font-size: 130%;
  opacity: 0.8;
}

/* + */

/* FOOTER */
footer {
  background-color: var(--text-color);
  border-top: 6px solid var(--nav-link-color);
}

.footer-b {
  margin-top: 0;
  margin-left: 0;
  margin-right: 40px;
}

.f-contact-a {
  color: var(--wite-color);
  opacity: 0.7;
}

.contacts-f {
  margin-bottom: 10px;
}

.contacts-f:last-child {
  margin-bottom: 20px;
}

.contacts-f:first-child {
  margin-top: 20px;
}

footer .contacts-box {
  margin-left: 40px;
  flex-direction: column;
}

.section-f {
  justify-content: space-between;
}

.f-contact-a:hover {
  color: var(--nav-link-color);
}
